/* src/styles.css */
body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    color: white;
  }
  
  .app {
    display: relative; /* Usar flexbox para centrar el contenido */
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
    width: 100%;
    height: 100vh; /* Asegúrate de que el contenedor ocupe toda la altura de la ventana */
    max-width: 600px; /* Esto es opcional, puedes ajustarlo según tus necesidades */
    text-align: center;
     /* Asegúrate de que el contenedor tenga position: 'relative' */
  }
  
  .background-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-position: center;
    z-index: -1;
  }
  
  .phrase-card {
    position: absolute;
    top: 39%;
    left: 41%;

    background: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    max-width: 80%; /* Ajusta el ancho máximo si es necesario */
    width: 300px; /* Ancho fijo para el cuadro */
    z-index: 1; /* Asegúrate de que esté por encima del fondo */
  }
  
  .phrase {
    font-size: 1.5rem;
    margin: 0 0 10px;
  }
  
  .author {
    font-size: 1rem;
    margin: 0 0 20px;
  }
  
  .next-btn {
    background-color: #ff9800;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
  }
  
  .next-btn:hover {
    background-color: #e68900;
  }